<h1> Comments </h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @list.comments.each do |comment| %>
      <td> <%=comment.user.email%> </td>
      <td> <%=comment.content%> </td>
      <th> <%= link_to 'edit comment', edit_comment_path(comment) if comment.user == current_user %></th>
    </tr>
    <% end %>
  </tbody>
</table>
